

.card {
    margin: 20px auto;
    background-color: #000000;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 200px;
}
.card h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.card button, .card a {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    transition: background-color 0.3s;
}

/* .card button:hover, .card a:hover {
    background-color: #20e006;
} */

.card .support {
    background-color: #ff69b4;
    font-weight: bold;
}

.card .support:hover {
    background-color: #ff85c1;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socials a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.socials a:hover {
    color: #1abc9c;
}